@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Padauk', sans-serif;
    background-color: #fff;
}


.logo1{
    margin-top: 25px;
    padding: 0px;
    position: relative;
    transform: translate(-450%, 5%);
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input, button, textarea{
    border: none;
    outline: none;
}

nav{
    margin-top: -15px;
    padding-right: -20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 73%;
    z-index: 1;
    float: right;
}

nav ul{
    display: flex;
}

nav ul li a{
    height: 40px;
    line-height: 44px;
    margin: 8px;
    padding: 0 22px;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 10px;
    transition-timing-function: 0.6s ease-in-out;
    color: #ffffff;
}

nav ul li a:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.644);
}

.active{
    background-color: #000000;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.644);
}

.second{
    width: 100%;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/page2.png);
}

.second-heading{

    width: 800px;
    position: absolute;
    left: 18%;
    top: 47%;
    font-size: 22px;
    transform: translate(-17%, -45%);
    text-transform: uppercase;
    color: white;
}

.second-heading h1{
    font-size: 60px;
    margin: 0px;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
}

.second-heading p{
    color: #ffffff;
}
  


  .submit{
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
    color: #fff;
    transition-timing-function: 0.6s ease-in-out;
  }

  .submit:hover{
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.644);
  }